version: '3.8'

services:
  app:
    build: .
    container_name: handball-tracker
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - SECRET_KEY=supersecretkey123
      - ALGORITHM=HS256
      - DATABASE_URL=sqlite:///./app.db
    networks:
      - web-public

networks:
  web-public:
    external: true
