# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment Variables
.env

# Database (we mount this as a volume, don't bake it into the image)
keto.db

# IDEs
.vscode
.idea
